
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_25 */
#MapView_mobilebutton_25 {

}
.ui-btn.MapView_mobilebutton_25 {

}
/* mobilecontainer */
.ui-content.MapView_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* googlemap_2 */
.MapView_googlemap_2 {
	width: 320px; height: 200px;
	margin: 4px 0px 4px 0px;
}
/* marker_3 */
.MapView_marker_3 {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* mobilesearchbar_5 */
.MapView_mobilesearchbar_5 {
	margin: 4px 0px 4px 0px;
}
#MapView_mobilesearchbar_5-cover-div {
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 9px 7px 8px 7px;
	z-index: 9999;
}
/* mobilegrid_12 */
.MapView_mobilegrid_12 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.MapView_mobilegrid_12 > tr > td {
	vertical-align: top;
}
.MapView_mobilegrid_12_row_0, .MapView_mobilegrid_12_row_0 > td {
	height: 30px
}
.MapView_mobilegrid_12_row_1, .MapView_mobilegrid_12_row_1 > td {
	height: 30px
}
/* mobilegridcell_13 */
.MapView_mobilegridcell_13 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.MapView_mobilegridcell_13 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_21 */
#MapView_mobilebutton_21 {

}
.ui-btn.MapView_mobilebutton_21 {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_17 */
.MapView_mobilelabel_17 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_14 */
.MapView_mobilegridcell_14 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.MapView_mobilegridcell_14 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_22 */
#MapView_mobilebutton_22 {

}
.ui-btn.MapView_mobilebutton_22 {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_19 */
.MapView_mobilelabel_19 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_15 */
.MapView_mobilegridcell_15 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.MapView_mobilegridcell_15 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_23 */
#MapView_mobilebutton_23 {

}
.ui-btn.MapView_mobilebutton_23 {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_18 */
.MapView_mobilelabel_18 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_16 */
.MapView_mobilegridcell_16 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.MapView_mobilegridcell_16 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_24 */
#MapView_mobilebutton_24 {

}
.ui-btn.MapView_mobilebutton_24 {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_20 */
.MapView_mobilelabel_20 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.MapView_mobilefooter {
	min-height:38px;
}